[2022-04-15 18:40] iloveeclipse opened #16 "There is a new test fail caused by this change, tests must be updated too."
There is a new test fail caused by this change, tests must be updated too.

https://download.eclipse.org/eclipse/downloads/drops4/I20220414-1800/testresults/html/org.eclipse.core.tests.runtime_ep424I-unit-cen64-gtk3-java11_linux.gtk.x86_64_11.html

[code]

_Originally posted by @iloveeclipse in https://github.com/eclipse-equinox/equinox.bundles/issues/15#issuecomment-1100284364_

[2022-04-15 18:42] iloveeclipse commented on #16
I was told, issues on github can be moved from one repo to another.
I can't move that one to eclipse-platform/eclipse.platform.runtime

[2022-04-15 18:42] #16 closed

[2022-04-16 16:05] HannesWell commented on #16
It looks like issues can only be transfered between repositories within the same organization (I didn't knew this restriction either):

https://docs.github.com/en/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository
[code]

To bad. It looks like we can only recreate and mention an issue if it actually belongs to another organization.

[2022-04-20 15:05] vogella opened #18 "Rename equinox.bundles repo to equinox"
PMC decided that we will merge equinox.framework into the equinox.bundles repo. Thomas indicated that a better name would be equinox.

If @tjwatson give his +1 I can open a help ticket to rename the [equinox.bundles](https://github.com/eclipse-equinox/equinox.bundles)
Public repo to equinox.

I did this with GEF Legacy. See https://github.com/eclipse/gef-classic/issues/5

[2022-04-22 07:46] vogella commented on #18
We are doing the same for PDE https://github.com/eclipse-pde/eclipse.pde.ui/issues/35

[2022-04-22 13:00] iloveeclipse opened #21 "-Dosgi.dataAreaRequiresExplicitInit=true doesn't work anymore"
While reviewing https://github.com/eclipse-platform/eclipse.platform.resources/pull/71 I've found, that I'm able to silently init a workspace (with default value) without specifying workspace location explicitly via prompt or `-data` argument, even if `-Dosgi.dataAreaRequiresExplicitInit=true` is set in eclipse.ini.

This is a regression, so bug https://bugs.eclipse.org/bugs/show_bug.cgi?id=514333

[2022-04-22 13:20] tjwatson commented on #21
It seems we don't have tests for this?

[2022-04-22 13:35] iloveeclipse commented on #21
Yes, we don't have tests. If you have a pointer how a test could be added that tests Eclipse startup with some custom launch arguments and checks something from inside that Eclipse, I could add one.

[2022-04-22 13:50] tjwatson commented on #21
There is something called session tests that can be run.  It is not the most elegant way of testing but it can be done.  Here is one of the more "simple" testcases I found that uses it where the testcase is setting some specific values in a config.ini: [org.eclipse.osgi.tests.configuration.EclipseStarterConfigIniTest](https://github.com/eclipse-equinox/equinox.framework/blob/ff3cec53a2285bbc64a5a5

[2022-04-22 15:25] iloveeclipse commented on #21
OK, I have a fix but that is in resources, so I will close this issue and reopen one in platform resources.

[2022-04-22 15:25] #21 closed

[2022-04-22 17:51] iloveeclipse commented on #21
Proposed fix: https://github.com/eclipse-platform/eclipse.platform.runtime/pull/36

[2022-04-23 08:26] laeubi opened #24 "Publish the a "BundleStateScope" as an IScopeContext service (factory)"
Currently a common patterns is that one acquires the instance scope through  a static access `InstanceScope.INSTANCE` and then pass the ID of the bundle to listen for preference changes.

Another similar call is `Platform.getStateLocation(...)` or `Plugin.getStateLocation` to get an IPath to store bundle specific data.

Both calls suffer from the fact (due to their static access) that they are pro

[2022-04-26 13:29] #24 closed

[2022-04-28 06:31] sravanlakkimsetti opened #32 "Build failure in 4.24 I-Build: I20220428-0120"
Error message

[code]

[2022-04-28 06:39] HannesWell commented on #32
PR #31 hopefully fixes that.

[2022-04-28 07:04] HannesWell commented on #32
PR #31 is submitted.
@sravanlakkimsetti could you please restart the I-build.

[2022-04-28 07:21] sravanlakkimsetti commented on #32
restarted the build

[2022-04-28 09:04] akurtakov commented on #32
Build succeeded

[2022-04-28 09:04] #32 closed

[2022-04-28 11:25] vogella commented on #18
@tjwatson please approved. Worked well for pde.ui to pde

[2022-04-28 11:26] vogella opened #33 "java.lang.IllegalArgumentException: Declaration is invalid in recent builds"
At startup in the latest build I see the follow error:

@tjwatson and @HannesWell maybe related to your recent work?

java.lang.IllegalArgumentException: Declaration is invalid: osgi.native; eclipse.product="org.eclipse.sdk.ide"; osgi.nl="de_DE"; osgi.framework.useSystemProperties="true"; osgi.instance.area.default="file:/C:/Users/vogella/workspace/"; ds.delayed.keepInstances.default="true"; osgi.

[2022-04-28 14:03] tjwatson commented on #33
Is this when you start Eclipse for your workspace, or is it starting an eclipse instance from your running Eclipse workspace (self-hosting)?

[2022-04-28 19:35] HannesWell commented on #33
To me it looks like this is the relevant part (I really don't understand why Java's `Throwable.printStacktrace()` prints the very first exception at the bottom. That's usually the cause and therefore the most interesting part):
[code]

It looks like the manifest is somehow invalid. I would be supprised if this this is due to the latest change, but it would not be the first time. But didn't have so

[2022-04-29 10:27] vogella commented on #33
I cannot reproduce anymore. This was in a regular IDE not a runtime IDE:

[2022-04-29 10:27] #33 closed

[2022-04-29 12:44] tjwatson opened #34 "Ensure equinox.log.stream and equinox.coordinator still pass OSGi TCK"
Reminder to test the latest R8 OSGi TCK against the Equinox log.stream and coordinator implementations once #26 is in a build.

These two implementations provide the compatible implementations for the specification currently.  I don't foresee any issues.  But need to make sure all is good still.

[2022-05-01 11:13] iloveeclipse opened #35 "org.eclipse.equinox.preferences has wrong version"
The version of org.eclipse.equinox.preferences is most likely wrong after https://github.com/eclipse-equinox/equinox.bundles/pull/25.

3.9 version was released already, we can't add API with old version numbers.

I see that API filters were added, because API tooling wants to increase **major** bundle version, but this doesn't mean if we don't increase major we won't increase minor segment.

This

[2022-05-02 04:54] laeubi commented on #35
Thanks for you detailed description, I must confess API tools are a mystery for me, sometimes I get no complains at all but the build fails, then it suggest to increase versions while the build complains it should not.
In this case, if I adjust the version I get a marker in the manifest:

Can I simply ignore this?

[2022-05-02 05:26] laeubi opened #37 "Use tycho pomless?"
I noticed most bundles use trivial pom files so it might be a goof idea to use the pomless feature of tycho to e.g. prevent the need to adjust the version in two different files.

[2022-05-02 05:27] laeubi opened #38 "Enable Discussions?"
GH Discussions are a great way to get in touch with users at the point where they report bugs and find the code.

I'd thus like to suggest to enable GH discussions for Equinox.

[2022-05-02 07:04] HannesWell commented on #37
Yes definitely, I also had the intention to enable Tycho-'pomless' for this repo.
Many non-trivial poms only suppress compiler warnings and would become trivial if those warnings were fixed. Therefore I first had the intention to fix them, but probably its better if we (you or me?) start with removing those that already trivial and gradually fix away the need for the remaining non-trivial poms lat

[2022-05-02 07:11] laeubi commented on #37
Will warnings fail the build? If no we could just remove this (only gives false impression of "everything is good), if yes, one could keep them and remove it part by part ...

[2022-05-02 07:33] HannesWell commented on #37
I don't think so. They will just appear Build-logs (e.g. https://download.eclipse.org/eclipse/downloads/drops4/I20220501-1800/testResults.php) in the `Plugins containing compile errors or warnings` and `Plugins containing access errors or warnings`.
Some contributors scan them regularly and will inform us about new entries. But I agree that just suppressing them gives a false impressions, so I wou

[2022-05-02 07:34] HannesWell commented on #38
+1 from me.

[2022-05-02 07:35] laeubi commented on #37
If we remove the suppression and simply fix them whenever a file is changed I think that's suitable to make progress here...

[2022-05-02 07:36] akurtakov commented on #37
We tried to keep this list empty (aka no new warnings appear) but it's fine to have temporary increase (aka enabling more warnings that were ignored before that) as long as there is dedicated effort to get to clean state ASAP. Reasoning behind that is if a list is not empty no one pays attention and keeps growing.
So I would recommend going incrementally here unless someone is ready to spend as mu

[2022-05-02 07:59] mickaelistria commented on #38
This question should be brought to the equinox-dev mailing-list.

[2022-05-02 09:02] vogella commented on #37
Hidding the warnings via the build files does not help with preventing new warnings. The better approach would be to capture the current number of warnings somehow in the build, e.g. in the Jenkins file and fail the build if a new change ends up with more warnings. IIRC we had something like this in the PDE build do not see a releted configuration in the Jenkins file. Maybe this was lost during th

[2022-05-02 13:07] iloveeclipse commented on #35
@mickaelistria : See bug description, there is more work to be done.

[2022-05-02 13:10] mickaelistria commented on #35
I actually didn't close it explicitly, it's because I linked a PR, which got closed, that this issue was closed.

[2022-05-02 13:15] laeubi commented on #35
@iloveeclipse I think we need to wait for the next ibuild to "bubble up" this change for the individual bundles build? Also as these changes are out of this repository it might be better to have dedicated issues in the corresponding repro to track this.

[2022-05-02 13:21] iloveeclipse commented on #35
@laeubi :
1) you can prepare right PR already, locally you should be able to see if API tooling will complain etc.
2) Sure, feel free to create dedicated issue for platform UI & eventually platform resources and address the remaining points there.
3) As long as 1) and 2) aren't done, this issue should remain open.

[2022-05-02 20:23] HannesWell commented on #37
This would be definitely a good way. But there is a lot to fix. My IDE shows me a little bit more than 1000 warnings only in equinox bundles.

However in the meantime I suggest to start to apply Tycho-build/pomless to those projects that already have a trivial pom. We can then gradually remove the other poms as it is suitable.

[2022-05-03 06:59] vogella commented on #37
+1 that is what we also did in platform projects.

If we would get a test / Jenkins verification to present the warnings to grow, my guess would be that @akurtakov would also be ok to remove the rest of the pom files.

[2022-05-04 14:35] laeubi commented on #35
created https://github.com/eclipse-platform/eclipse.platform.runtime/pull/48 this could be closed then.

[2022-05-04 14:35] #35 closed

[2022-05-24 16:41] freedom1b2830 opened #46 "logback RCE CVE-2021-42550"
I don't know where to write about these libraries

CVE-2021-42550

[scanner](https://github.com/logpresso/CVE-2021-44228-Scanner)
args:[--scan-log4j1 --scan-logback --scan-zip]

[?] Found CVE-2021-42550 (logback 1.2.7) vulnerability in $ECLIPSE_DIR/plugins/ch.qos.logback.classic_1.2.3.v20200428-2012.jar, logback N/A
[?] Found CVE-2021-42550 (logback 1.2.7) vulnerability in $HOME/.p2/pool/plugins/c

[2022-05-24 16:58] freedom1b2830 commented on #46
still need an update to 1.2.9+ to close the possible vector

[2022-05-24 17:30] bjhargrave commented on #46
I think we can close this issue here.

[2022-05-24 17:30] #46 closed

[2022-05-24 17:37] merks commented on #46
Yes, m2e would be satisfied with higher versions but it's the only thing bound to these older versions:

![image](https://user-images.githubusercontent.com/208716/170097738-8000552e-6287-4607-8566-ecc5d472c892.png)

@jonahgraham FYI.

[2022-06-01 08:40] iloveeclipse opened #48 "Exception saving preferences in p2 tasks"
While executing p2 tasks from command line we see on 4.24 M3 following errors reported:
[code]

Most likely regression from https://github.com/eclipse-equinox/equinox.bundles/pull/8

[2022-06-01 12:44] tjwatson commented on #48
@HannesWell can you take a look?

It is not obvious why it is complaining about the destination file `preferenceFile` not existing when the code just checked that it existed before the move call:

[code]

[2022-06-01 13:03] merks commented on #48
The error is really weird.  It complains about the **target** file not existing, but it's not required to exist is it?  The tmp file would have suffix .bak  and that's not what it's complaining about.    Perhaps some other thread is deleting the whole profile directory in parallel?

[2022-06-01 13:05] laeubi commented on #48
Even though between the check and the move the file could have been deleted I'm more surprised something else [according to the javadoc](https://docs.oracle.com/en/java/javase/12/docs/api/java.base/java/nio/file/Files.html#move(java.nio.file.Path,java.nio.file.Path,java.nio.file.CopyOption...)):

1. Move is supposed to fail *if the file exits* if not `StandardCopyOption.REPLACE_EXISTING` is given

[2022-06-01 13:07] tjwatson commented on #48
Right, it is confusing.  I think it could complain if the parent directory of the destination does not exist.  But the code also does a makeDirs on the parent file also.  It would seem some parallel file operations could cause this.  But that would be highly timing related. Was this a reproducible error?

[2022-06-01 13:35] laeubi commented on #48
At laest the old code has some of `if (!sourceFile.exists())` do nothing, so don't know if the error was just hidden and/or intentionally ignored.

Also there is [Bug 468787](https://bugs.eclipse.org/bugs/show_bug.cgi?id=468787) that explicitly mentioning the behavior we see here. So from what this code claims to "not loose the old content in case of a failure", maybe one should simply catch any I

[2022-06-01 13:46] laeubi commented on #48
By the way the error itself might be misleading at least when I take a look at `UnixCopyFile.move(UnixCopyFile.java:468) from my JDK11 the `NoSuchFileException` is thrown because of the `errno()` value **but the mentioned file in the error is always the source**.

So it more seems that the `.bak` file is already missing because it was previously moved! So to solve this, it might be better to use n

[2022-06-01 14:40] laeubi commented on #48
@tjwatson you can simply add a try {} catch{IOException) that would have the same effect... maybe @iloveeclipse  can verify that this fixes the issue?

[2022-06-01 14:50] tjwatson commented on #48
At this stage (in RC2 week), my opinion is that we only have time to revert back to a known working state.  Then if others want to revisit fixing the existing NIO code then that can happen in a follow on release.

[2022-06-01 15:20] HannesWell commented on #48
I agree that we should be really careful the moment. On the other hand the change suggested by @laeubi seems really save to me since the worst thing that can happen is that the Exception is swallowed (what is actually intended).

If you want to revert #8, you likely also have to revert #13 since it is a follow up.

But I'm not convinced that reverting #8 will solve the issue since `Files.move()` w

[2022-06-01 15:50] laeubi commented on #48
I don't think the folder is really removed, this could also happen if two concurrent tasks update the same preferences.

[2022-06-01 16:56] laeubi commented on #48
Just in case you can attach a debugger, can you create a conditional breakpoint with

`preferenceFile.getFileName().equals("org.eclipse.equinox.p2.metadata.repository.prefs")`

to see if there are different threads calling the method concurrently?

[2022-06-03 16:07] HannesWell commented on #48
I'm not sure. But what I also ask myself:
Are those exception harmful in the sense that functionality is broken or are they just annoying because they are displayed?
With the current Milestone/RC I did not noticed any problems. And from the causes we suspected here I think it could be the latter. If that is the case I would just wrap the call to Files.move() into a tray-catch block to swallow the

[2022-06-03 16:16] tjwatson commented on #48
Given that I cannot tell if this is a severe issue I do not think I can justify it as needing a fix and forcing a respin of RC2a.

[2022-06-05 08:03] laeubi commented on #18
@vogella @tjwatson any progress here? Will the merge happen after 2022-06 release?

[2022-06-05 08:25] HannesWell commented on #18
That's the plan as far as I know.
Renaming is planned after the merge with equinox.framework (https://github.com/eclipse-equinox/equinox.framework/issues/14) which is just waiting for https://github.com/eclipse-equinox/equinox.framework/pull/44. The latter is waiting for a release of felix-scr: https://github.com/eclipse-equinox/equinox.framework/pull/44#issuecomment-1139207420
But @tjwatson expre

[2022-06-05 08:26] laeubi commented on #18
Why is any of those required to merge git repositories?

[2022-06-05 08:31] HannesWell commented on #18
It is not required. @vogella probably just wanted to be so kind to avoid the extra work to re-create PRs.
But its statement was from a time where more where open. One PR does not justify a longer delay.
Maybe @tjwatson could give an ETA for the FELIX-SCR release? If that is not too far it would be nice to wait another week or so. :)

[2022-06-05 08:34] laeubi commented on #18
It should be possible to simply push the PR to the new remote? But anyways we can wait if there is a ETA and we do not delay it one more release I think.

[2022-06-10 14:41] cmorty opened #52 "Trouble with UNC-Uris: Should I add URI-factories to URIUtil?"
I currently adding WSL support to CDT. A problem I'm facing is the `$` in WSL's UNC-Path ( `\\WSL$\...`). The URIUtil.java has a private function to handle UNC-Paths:
https://github.com/eclipse-equinox/equinox.bundles/blob/16f8cde25e358cee86ac73634cf06e362b4d2c16/bundles/org.eclipse.equinox.common/src/org/eclipse/core/runtime/URIUtil.java#L105

I have an open PR for `append()` ( https://github.com

[2022-06-14 12:54] vogella commented on #18
@tjwatson you stay very quit here :-) Can you share you go or no-go for the rename of the repo. We did it in PDE (pde.ui to pde) and IIRC we had no (or at least only little so I forgot them) issues with it.

[2022-06-14 13:54] tjwatson commented on #18
Last discussion we had I thought we were leaving both repos as is and creating a new one called `equinox` to merge framework and bundles into.  Then convert the existing repos to read-only with a final commit that removes everything except a readme pointing to the new repo.

[2022-06-14 14:04] vogella commented on #18
Sounds good. Shall I open a help desk request to create a new repo or do you want to do this?

[2022-06-14 21:48] JohnLBergqvist opened #54 "Incorrect `org.osgi.service.prefs` dependency in org.eclipse.equinox.preferences-3.10.0"
The declaration for the `org.osgi.service.prefs` dependency inside https://repo1.maven.org/maven2/org/eclipse/platform/org.eclipse.equinox.preferences/3.10.0/org.eclipse.equinox.preferences-3.10.0.pom

is wrong. Instead of being:

[code]

as it currently is, it should be

[code]
(basically, the `<groupId>` is wrong)
as can be seen on Maven Central: https://search.maven.org/artifact/org.osgi/org.os

[2022-06-14 22:55] HannesWell commented on #54
Thank you for your report.
The pom-file is generated during the release process (at least org.eclipse.equinox.preferences has none in git) and it looks like this generation is flawed.
@akurtakov or @mickaelistria can you help here or know who can do better?

[2022-06-15 04:40] Fubuchi commented on #54
We has the same issue today, the whole CI pipeline is broken because the group Id isn't existed. The current workaround is creating the folder structure as same as the wrong group Id and throwing the jar to there.

[2022-06-15 05:04] akurtakov commented on #54
@sravanlakkimsetti You're the best person to help here.

[2022-06-15 05:50] cdietrich commented on #54
i also wonder if we can create a new repo in eclipses nexus where some milestones or nightlies for these and also platform and jdt maven artifacts can be published. e.g. xtext could use these in their integ tests so that problems like this one are detected earlier

[2022-06-15 05:54] laeubi commented on #54
Why a new repo? Is the existing one not sufficient?

The problem is that current maven deployment is a nasty script witch need manual execution... One the equinox repos are merged I plan to try setup a more automated flow for the equinox that could be used as a basis for other repos as well.

[2022-06-15 05:56] cdietrich commented on #54
when broken milestones are published to a release repo, then of course the "maven central" is broken problem would turn into the "eclipse release repo is broken"

[2022-06-15 06:01] laeubi commented on #54
At least in tycho, staging or milestone repos has been proven to produce more hassle than they solve.

If we publish something "broken" we simply should fix that and publish a new version immediately.

[2022-06-15 06:01] akurtakov commented on #54
repo.eclipse.org can be used to deploy SNAPSHOT versions and only builds that explicitly enable it will use them. We do that with Tycho and it works well sothere is no need for new repo.
It's entirely separate question the effort to setup/automate that publishiing .

[2022-06-15 06:15] sravanlakkimsetti commented on #54
I am trying a solution for this one. It will take some time. but hopefully by today or tomorrow I will be able to fix this one

[2022-06-15 06:16] castielfang commented on #54
firstly maybe you should remove the version 3.10.0 from repository,stop  to effect the more users

[2022-06-15 06:18] akurtakov commented on #54
Can you actually remove things from Maven Central? I thought this is a not allowed.

[2022-06-15 06:21] akurtakov commented on #18
@vogella Please do so. We have to act as we are just spinning here while actual problems are pending and depend (in a way ) on that - https://github.com/eclipse-equinox/equinox.bundles/issues/54#issuecomment-1156018920

[2022-06-15 06:22] laeubi commented on #54
https://stackoverflow.com/questions/9789611/removing-an-artifact-from-maven-central

You can only contact the support, but as no one is **forced** to upgrade their pom, you can simply use the old version in the meanwhile...

[2022-06-15 06:28] kesslerd commented on #54
I have a transitive dependency on this library and the version I used for the main library is fixed. However, the dependency specifies a range of allowed version and the latest will be used. So I was **forced** to add a gradle dependency constraint

[code]

[2022-06-15 06:29] JohnLBergqvist commented on #54
I also have a transitive dependency which is bringing this in.

[2022-06-15 06:37] laeubi commented on #54
Well that's what these features are for... you probably then should better blame the dependency specifying a version range without actually testing that the range is satiable...

[2022-06-15 06:43] kailbin commented on #54
So Do We ！！

[2022-06-15 07:00] cdietrich commented on #54
@laeubi  all of eclipse platform and also emf have "ranges of death"
e.g. from org.eclipse.core.runtime
https://search.maven.org/artifact/org.eclipse.platform/org.eclipse.core.runtime/3.25.0/jar

[code]

this leads to always new transitive stuff beeing pulled

[2022-06-15 08:04] vogella commented on #18
https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1416

[2022-06-15 09:15] mcollovati commented on #54
Can artifact relocation help in this case?
https://maven.apache.org/guides/mini/guide-relocation.html

[2022-06-15 09:34] PranavPurwar commented on #54
Any updates on when this (fixed) version would be released?

[2022-06-15 09:37] akurtakov commented on #54
As fast as we can - hopefully, today.

[2022-06-15 11:05] #54 closed

[2022-06-15 11:15] PranavPurwar commented on #54
A Huge Thanks

[2022-06-15 11:25] sravanlakkimsetti commented on #54
its available in maven central now https://repo1.maven.org/maven2/org/eclipse/platform/org.eclipse.equinox.preferences/3.10.1/

[2022-06-15 13:01] Artur- commented on #54
Sorry if I am just adding noise here but I would like to understand if this is supposed to work now.

If I create a pom.xml with a dependency on `org.eclipse.platform`/`org.eclipse.core.runtime`/`3.25.0` and nothing else then running `mvn dependency:tree` will fail with
[code]

So even if `org.eclipse.platform:org.eclipse.equinox.preferences:jar` 3.10.1 is out, the range of `[3.10.0,4.0.0)` in `pl

[2022-06-15 13:04] vogella commented on #18
@akurtakov done, and I pushed content of equinox.bundles to the new equinox repo. https://github.com/eclipse-equinox/equinox

Can someone update the aggegator build and close all pending PR of equinox-bundles? This process would be less disruptive if we renamed the old repo.

[2022-06-15 13:05] PranavPurwar commented on #54
You need to add equinox preferences as a separate dependency to maven/gradle for the changes to work currently.

[2022-06-15 13:07] cdietrich commented on #54
but should maven pull the newer preference version?
    <dependency>
      <groupId>org.eclipse.platform</groupId>
      <artifactId>org.eclipse.equinox.preferences</artifactId>
      <version>[3.10.0,4.0.0)</version>
    </dependency>
automatically? why does it still pick the old one?

[2022-06-15 13:14] stephan-herrmann commented on #54
In previous situations I observed that Maven explores the entire tree of possible dependencies, i.e., all allowed versions. If one of them fails resolution of transitive dependencies the build may fail, disregarding the fact, that the broken artifact is not even used, due to a newer matching version. I'm not sure if this applies here.

[2022-06-15 13:16] akurtakov commented on #54
It should pick the latest one AFAIK. There are things like mirror used by the build not synced yet, local artifact satisfying available, timeout period not passed before new check happens (-U helps here) and etc. Let's give it a bit more time .

[2022-06-15 13:23] laeubi commented on #54
Yep this happens here as one can easily check with running the example in an empty repository like this:

`mvn dependency:tree -X -Dmaven.repo.local=/tmp/repo`

[2022-06-15 13:27] cdietrich commented on #54
so this can be resolved only
* by removing the bad artifact
* by adding the bad missing artifact as a stub/redirection etc
* avoiding any conflict working with explicit dependency exclude transitive

[2022-06-15 13:39] laeubi commented on #54
By the way, snippet to fix the problem could be like this:

[code]

[2022-06-15 14:01] vehovsky commented on #54
@laeubi so everyone who ever used dependency on org.eclipse.core.runtime will have to do similar exclude or add org.eclipse.equinox.preferences under dependencyManagement in version that does work? Come on..

[2022-06-15 14:24] vehovsky commented on #54
@laeubi well Maven could be more graceful no doubt. But since it's not, it's time to admit this is ma major issue! Because even releasing a fixed version is not enough.

Thanks to your usage of version ranges many of our old releases are not repeatable. And we will be affected by this issue anytime we will need to release a patch.

The only solution that would not force anyone who ever used or wil

[2022-06-15 14:25] laeubi commented on #18
@vogella what about the framework repo? Just in case we adjust the aggregator so no need for double work?

[2022-06-15 14:32] cdietrich commented on #54
@laeubi for sure not. but maybe we can beg the osgi project todo so

[2022-06-15 14:34] vogella commented on #18
Can you provide a merge PR for it?

[2022-06-15 14:35] merks commented on #18
Yes, I've been following this thread and as soon as the framework repo is merged in I can merge the two setups.

[2022-06-15 14:37] jonahgraham opened #58 "org.osgi.service.prefs.Preferences cannot be resolved. It is indirectly referenced from required .class files"
_This may be related to #54?_

When using 4.24 platform with CDT I see the following errors in the IDE. I have the following errors. These errors do not happen when I build the project with Tycho.

- The project was not built since its build path is incomplete. Cannot find the class file for org.osgi.service.prefs.Preferences. Fix the build path then try building this project	`org.eclipse.remote.u

[2022-06-15 14:39] vehovsky commented on #54
Agreed. Removal will work, anyone who has the artifact already cached in their local binary repo will have to remove it as well (plus devs will have to remove from local maven repos), but that is a minor issue.

[2022-06-15 14:46] laeubi commented on #54
Not if the deploy a relocation pom pointing to the "fixed" version, this is not only possible for group-id changes as far as I can see:
https://maven.apache.org/ref/3.8.6/maven-model/maven.html#class_relocation

[2022-06-15 14:57] jonahgraham commented on #58
Thanks @HannesWell for the quick response - I will put in that workaround for CDT https://git.eclipse.org/r/c/cdt/org.eclipse.cdt/+/194190

I guess there is nothing else left to do on platform side, so I will close this.

[2022-06-15 14:57] #58 closed

[2022-06-15 15:15] akurtakov commented on #18
From releng POV I would like to do the aggregator build changes once as we all have an agreement let's just act on it.

[2022-06-15 17:42] alexlitovsky commented on #54
I'm sorry, but for someone using these as transitive dependencies, and having made no changes to the application, what exactly is the fix now?  Because an application that used to build is all of a sudden not building.

[2022-06-15 18:11] alexlitovsky commented on #54
Thank you for that, but that's not a fix and not a workable workaround.  Manually modifying the local .m2 repos on dozens of build nodes is not a workable solution for a serious product.

Come eclipse folks, please let us know how we can get our applications back into a working state.

[2022-06-15 18:25] sravanlakkimsetti commented on #54
We have deployed newer versions of the artifacts to maven. Please let us know how we can make maven to use latest versions during the build.

[2022-06-15 18:47] vehovsky commented on #54
@alexlitovsky one solution using exclude was offered by @laeubi [here](https://github.com/eclipse-equinox/equinox.bundles/issues/54#issuecomment-1156487572)

The other I mentioned [above](https://github.com/eclipse-equinox/equinox.bundles/issues/54#issuecomment-1156514690) would leverage dependencyManagement, which I guess would be preferred for larger projects with transitive dependencies, which

[2022-06-15 18:49] alexlitovsky commented on #54
Thanks @vehovsky .  We did fix this issue by uploading org.osgi.service.prefs under the wrong groupId to our mirror'd repo.

Hopefully this incident demonstrates why it's a terrible idea to use floating dependency versions.

[2022-06-15 19:08] bjhargrave commented on #54
OSGi made no mistake. OSGi has only ever used the `org.osgi` groupId for specification artifacts.

This mistake is entirely in Equinox which mis-generated GAV values for the OSGi artifacts during its build. So the problem is Equinox's to solve.

[2022-06-15 20:51] jmini commented on #54
As I wrote on [StackOverflow](https://stackoverflow.com/a/72626648) when you consume some dependencies using open version ranges, if you do not want to be disturbed by new releases (that can be corrupted as we saw today), you should fix/lock/control the versions you are using.

* Using a BOM file (I am maintaining one per Eclipse releases: [ECentral](https://jmini.github.io/ecentral/))
* Using a m

[2022-06-15 23:57] mickaelistria commented on #54
The root cause of the issue is not OSGi but Eclipse Platform generating wrong groupIds. https://github.com/eclipse-platform/eclipse.platform.releng/issues/50 covers what Eclipse Platform needs to change to avoid this problem in the future.
Please note that while it looks like a regression (X not working anymore), this issue is actually a consequence of a major improvement (Platform uses direct Mav

[2022-06-16 02:55] mdaloia commented on #54
What is it weird is that Maven tries to resolve all the versions on the range even when it could use the latest one available that matches the range. That is the reason why releasing a 3.10.1 wasn't enough for many of us. Maven downloads the `.pom` of all the versions including 3.10.0 and 3.10.1 but it first attempts to do some processing of 3.10.0 and because it is flawed fails the build and does

[2022-06-16 03:09] laeubi commented on #54
No this is not weird, this is required because maven could **not* just use the latest version, that's not what version ranges are for, this is especially to allow a **lower** version e.g. because of conflicts with other (transitive) dependencies or ones in your module, because of that maven first needs all the poms and all the transitive dependencies.

As mentioned above, it might be god to create

[2022-06-16 04:47] sravanlakkimsetti commented on #54
Raised https://issues.sonatype.org/browse/OSSRH-81766 to get offending artifacts removed. Lets wait for maven central to act there

[2022-06-16 09:04] laeubi commented on #18
Master build is running fine now: https://ci.eclipse.org/equinox/job/equinox/job/master/ so I would assume my part is done here :-)

[2022-06-16 09:07] merks commented on #18
@laeubi  So I should look to make the setup work now?

[2022-06-16 09:12] laeubi commented on #18
At least everything from both repos is in, so from eclipse ide side we should be fine :+1:

[2022-06-16 09:17] #38 closed

[2022-06-16 09:19] laeubi opened #59 "Archive this reository"
Please contact the EF Helpdesk so archive this repository now, so no new code is pushed here by accident.

[2022-06-16 09:56] vogella commented on #59
AFAIK we still need this for maintenance builds, you can empty it (delete everything and create README about the move)  similar to the PDE.build or eclipse.platform.runtime repo if you want.

[2022-06-16 09:57] laeubi commented on #59
If it is archived it could still be read, or do we need to **write** into this repository?

[2022-06-16 10:03] vogella commented on #59
@laeubi maintenance work might require commits to maintaince branches.

[2022-06-16 10:08] laeubi commented on #59
Okay, then maybe we can simply protect the main branch?

[2022-06-16 10:09] vogella commented on #59
@laeubi we (should) already protect the master branch in all our repos to avoid undesired direct pushes. As least I requested that int the past for all repo I knew of.

[2022-06-16 11:06] akurtakov commented on #59
I thought the agreement is to do like https://github.com/eclipse-pde/eclipse.pde.build ?

[2022-06-16 11:13] vogella commented on #59
Yes, see my comment from above.

[2022-06-16 11:40] vogella commented on #59
Today I'm bit distracted a the moment with private and business events but I might be able to do it tomorrow. But it is really easy in case you want to do this: Open a navigator / explorer, delete all files in your local clone except .git and Readme.md, write "We moved..." into the Readme.md, commit locally and push + PR.

[2022-06-16 12:36] tombrus commented on #54
I hope you will be able to quickly release a fixed version. Thanks for all the open-source effort!
I thought I'll share my workaround:

You can patch your local .m2 cache with the following command (bash):
[code]
downside: it only works until you clean your .m2 cache! (but you can redo it or even script it)
upside: you do not need to think about removing it when a fixed version is published, nothi

[2022-06-16 12:45] PranavPurwar commented on #54
The fixed version was already released yesterday @tombrus

[2022-06-16 16:56] bjhargrave commented on #54
I will note that whatever code is generating the maven version range is generating a too-broad range. In the above example, the range includes `4`, `4.0`, 4.0.0-alpha` and other pre-final qualifiers on version `4.0.0`. The correct maven version range is `[3.4.0,4)` as that will include no version which starts with `4`.

[2022-06-17 03:14] sravanlakkimsetti commented on #54
the offending artifacts have been removed from maven central. Please try now

[2022-06-17 07:06] adebiasi commented on #54
Now I have the following error:
`Error injecting constructor, com.google.inject.internal.util.$ComputationException: com.google.inject.internal.util.$ComputationException: java.lang.UnsupportedClassVersionError: org/eclipse/core/runtime/OperationCanceledException has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Runtime only recogniz

[2022-06-17 07:14] akurtakov commented on #54
Java SE 11 = class file version 55 . o.e.core.runtime bundle requires it since September 2021 release https://github.com/eclipse-platform/eclipse.platform.runtime/commit/74823fe0fcfe5f76baff2c29c93f0d8dbd9bcfe8

[2022-06-17 07:23] adebiasi commented on #54
Why this error didn't appear before the artifact's fix?

[2022-06-17 07:32] cdietrich commented on #54
@adebiasi can you provide a minimal reproducer

[2022-06-17 07:32] akurtakov commented on #54
This I can not even try to answer without reproducer and/or link to logs. Also please move to new issue for that.

[2022-06-17 08:02] adebiasi opened #61 "UnsupportedClassVersionError due to fix on org.osgi.service.prefs"
The [CI](https://ci.eclipse.org/chess/job/CHESS-gitlab-devel%20AUTO%20build-bundle-release/) of [CHESS](https://www.eclipse.org/chess/start.html) fails after the fix related to https://github.com/eclipse-equinox/equinox.bundles/issues/54.

The log before the issue/fix of org.osgi.service.prefs: [log_ok.txt](https://github.com/eclipse-equinox/equinox.bundles/files/8925664/log_ok.txt)

The log after

[2022-06-17 08:03] adebiasi commented on #54
I created https://github.com/eclipse-equinox/equinox.bundles/issues/61.

[2022-06-17 08:08] laeubi commented on #54
Platform requires java 11, so actually there is no "issue" and you probably have not seen it before because now the dependency has changed, the build was adjusted, using never java features of changed BREE, ...

If you require "old" behavior you have to use the old release...

[2022-06-17 08:09] adebiasi commented on #61
This is the fragment of pom.xml containing the dependences:

[code]

[2022-06-17 08:12] cdietrich commented on #61
this is a problem that is there since platform moved to java 11 some time ago.
i wonder why you run into it now.
you might want to update to a never xtext version and or apply the workarounds needed for years as can be found in
https://github.com/eclipse/xtext/issues/1976

i assume you need to make sure you pin/exclude both core.runtime and equinox.common
maybe they are now transitive by a differe

[2022-06-17 08:13] laeubi commented on #61
Maybe just update to a newer java version, never tycho version, never ... just an idea :-)

[2022-06-17 08:14] cdietrich commented on #61
@laeubi  the ~ 5 year old xtext version of course does not support java 11

[2022-06-17 08:20] laeubi commented on #61
Yep but that's not the only one that is "a bit outdated" her (e.g. Tycho 1.x...)

[2022-06-17 08:20] adebiasi commented on #61
We are working on the porting of CHESS, but it is not an easy job.

@cdietrich So you suggest to update the pom.xml as follows?
[code]

[2022-06-17 08:23] cdietrich commented on #61
i dont remember the linked bug is too long ago, but yes you can check if it works.
you might also have to add them explicitedy
as sibling to org.eclipse.xtext.xtext.generator

https://github.com/eclipse/xtext/issues/1976#issuecomment-863762773
you might also have to specify explicit versions there

[2022-06-17 08:27] adebiasi commented on #61
Thanks.
Do you know why this issue happened just after https://github.com/eclipse-equinox/equinox.bundles/issues/54?

[2022-06-17 08:30] laeubi commented on #61
As explained it can happen *anytime* as no one is checking for Java-8 compat any more!

[2022-06-17 08:30] cdietrich commented on #61
no, for everybody else it it failing for a year now

[2022-06-17 14:34] howlger commented on #61
@adebiasi [This Stack Overflow answer](https://stackoverflow.com/a/72626648/6505250) from @jmini explains very well what happened and also tells what can be done.

[2022-06-20 13:00] Borki commented on #54
Can you let remove the wrong version also from JCenter:
https://mvnrepository.com/artifact/org.eclipse.platform/org.eclipse.equinox.preferences

On maven central it's already removed.

[2022-07-06 04:33] vik-chand opened #66 "org.eclipse.equinox.http.jetty has 1 resolution problems."
See https://download.eclipse.org/eclipse/downloads/drops4/I20220705-1800/apitools/analysis/html/index.html

Reported warnings may not be accurate because org.eclipse.equinox.http.jetty has 1 resolution problems.

[2022-10-11 08:39] HannesWell commented on #32
This is hopefully a fix of the error:

https://github.com/eclipse-equinox/equinox.bundles/pull/31
 

Gesendet: Donnerstag, 28. April 2022 um 08:31 Uhr
Von: "Sravan Kumar Lakkimsetti" ***@***.***>
An: "eclipse-equinox/equinox.bundles" ***@***.***>
Cc: "Subscribed" ***@***.***>
Betreff: [eclipse-equinox/equinox.bundles] Build failure in 4.24 I-Build: I20220428-0120 (Issue #32)

 

Error message

[ER